.hero_background {
  background-color: #004db3;
  padding: 30px 120px 0;
}

.hero_flex {
  display: flex;
}

.hero_content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  flex-basis: 50%;
}

.hero_content h1 {
  color: #fff;
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 16px;
}

.hero_content p {
  font-family: "Satoshi";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #e7e7e7;
}

.hero_banner {
  flex-basis: 50%;
  display: flex;
  padding-top: 55px;
}

.hero_banner img {
  width: 90%;
}

.hero_btn {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin-top: 32px;
}

.hero_btn a {
  align-items: flex-start;
  padding: 16px 32px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  height: 24px;
}

.hero_btn a:first-child {
  color: #fff;
  border: 1px solid #fff;
}

.hero_btn a:first-child::after {
  content: "\f062";
  font-family: "FontAwesome";
  font-weight: 400;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  transform: rotate(45deg);
  margin-left: 10px;
}

.hero_btn a:last-child {
  background-color: #fff;
  color: #004db3;
  padding: 17px 32px;
}

.hero_users {
  position: relative;
  flex-basis: 38%;
}

.hero_users img:nth-child(1) {
  position: absolute;
  z-index: 1;
  width: inherit;
  top: 0;
  left: 0px;
}
.hero_users img:nth-child(2) {
  position: absolute;
  z-index: 2;
  width: inherit;
  top: 0;
  left: 40px;
}
.hero_users img:nth-child(3) {
  position: absolute;
  z-index: 3;
  width: inherit;
  top: 0;
  left: 80px;
}
.hero_users img:nth-child(4) {
  position: absolute;
  z-index: 4;
  width: inherit;
  top: 0;
  left: 120px;
}
.hero_users img:nth-child(5) {
  position: absolute;
  z-index: 5;
  width: inherit;
  top: 0;
  left: 160px;
}

.hero_users_container {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

.hero_users_container h2 {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
}

.hero_users_container span {
  font-size: 16px;
  line-height: 21.6px;
  font-family: "Satoshi";
  color: #e7e7e7;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .hero_background {
    padding: 30px 30px 0;
  }
  .hero_flex {
    flex-direction: column;
    margin-top: 60px;
  }

  .hero_content {
    align-items: center;
    justify-content: center;
  }
  .hero_content h1 {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
  }
  .hero_content p {
    text-align: center;
    width: 80%;
  }
  .hero_btn {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero_btn a {
    font-size: 14px;
  }

  .hero_users_container {
    display: flex;
    justify-content: space-evenly;
    height: 47px;
  }

  .hero_users img {
    width: 48px;
    height: 48px;
  }

  .hero_users img:nth-child(1) {
    position: relative;
    z-index: 1;
  }
  .hero_users img:nth-child(2) {
    position: relative;
    z-index: 2;
    left: -15px;
  }
  .hero_users img:nth-child(3) {
    position: relative;
    z-index: 3;
    left: 65px;
    top: -54px;
  }
  .hero_users img:nth-child(4) {
    position: relative;
    z-index: 4;
    left: 48px;
    top: -54px;
  }
  .hero_users img:nth-child(5) {
    position: relative;
    z-index: 5;
    left: 130px;
    top: -108px;
  }
  .hero_users_container h2 {
    font-size: 18px;
    line-height: 22px;
  }
}
