.main_nav {
  font-family: "Satoshi", sans-serif;
  display: flex;
  gap: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  text-transform: capitalize;
}

.main_navmobile {
  display: none;
}

/* .main_nav li a {
  color: #aac4e6;
} */

.main_nav li:last-child:hover {
  transform: scale(1.04);
  transition: all ease-in-out 0.1s;
}

.main_nav li:last-child a,
.main_nav li:last-child a:focus {
  color: #004db3;
  background-color: #fff;
  padding: 16px 32px;
  border-radius: 4px;
}

/* .main_nav li a:focus {
  color: #fff;
} */

.main_mr_0 {
  margin-right: 0;
}
.main_mr_10 {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .main_nav {
    display: none;
  }
  .main_navmobile {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .main_navmobile ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .main_navmobile_hidden {
    display: none;
  }

  .main_navmobile_flex {
    display: flex;
  }

  .main_navmobile img {
    width: 28px;
    height: 28px;
    object-fit: contain;
  }
  .main_navmobile_1 {
    padding: 6px;
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #004db3 -78.47%,
      #002240 91.61%
    );
    padding: 20px 40px;
    border-radius: 16px;
    position: absolute;
    top: 40px;
  }

  .main_navmobile_1 li  {
    text-align: center;
  }

  .main_navmobile_1 li:last-child {
    margin-top: 20px;
  }

  .main_navmobile_1 li:last-child a,
  .main_navmobile_1 li:last-child a:focus {
    color: #004db3;
    background-color: #fff;
    padding: 16px 32px;
    border-radius: 4px;
  }

  .sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

.mb_4 {
  margin-bottom: 16px;
}

.mb_0 {
  margin-bottom: 0;
}

.textWhite {
  color: #fff;
}

.dimWhite {
  color: #aac4e6;
}
